<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dual Player</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript">
            var videoID = {{ ids.videoid|tojson }};
            var soundID = {{ ids.soundid|tojson }} 
        </script>
    </head>
    <body>
        <div id="playerOne"></div>
        <br>
        <button id="playboth">Play/Pause</button>
        <div id="playerTwo"></div>

        <script type="text/javascript">
            var tagOne = document.createElement('script');
            tagOne.src = "https://www.youtube.com/iframe_api";

            var tagTwo = document.createElement('script');
            tagTwo.src = "https://www.youtube.com/iframe_api"

            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tagOne, firstScriptTag);

            var secondScriptTag = document.getElementsByTagName('script')[1];
            secondScriptTag.parentNode.insertBefore(tagTwo, secondScriptTag)

            var playerOne;
            var playerTwo;
            function onYouTubeIframeAPIReady() {
                playerOne = new YT.Player('playerOne', {
                    height: '390',
                    width: '640',
                    videoId: videoID,
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    },
                    host: 'https://www.youtube.com'
                });
                playerTwo = new YT.Player('playerTwo', {
                    height: '390',
                    width: '640',
                    videoId: soundID,
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                });
            };

            function onPlayerReady(event) {
                event.target.playVideo();
            };

            var done = false;
            function onPlayerStateChange(event) {
                if (event.data == YT.PlayerState.PLAYING && !done) {
                    setTimeout(stopVideo, 6000);
                    done = true;
                }
            };

            function stopVideo() {
                playerOne.stopVideo();
                playerTwo.stopVideo();
            };

        </script>
    </body>
</html>