<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dual Youtube Video Player</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <h3 id="">Place YouTube URLs:</h3>
        <p>Video URL:</p>
        <input type="text" id="videoID" placeholder="Video ID">

        <br>

        <p>Sound URL:</p>
        <input type="text" id="soundID" placeholder="Sound ID">

        <button id="submitURLs">Submit</button>

        <script type="text/javascript">
            document.getElementById("submitURLs").addEventListener("keyup", validURL)
            function validVideoURL() {
                url = document.getElementById("videoID").value
                if(url.indexOf("youtube.com/watch?v=") >= 0 && url.split("watch?v=")[1].length > 1) {
                    return true
                } else {
                    return false
                }
            };
            function validSoundURL() {
                url = document.getElementById("soundID").value
                if(url.indexOf("youtube.com/watch?v=") >= 0 && url.split("watch?v=")[1].length > 1) {
                    return true
                } else {
                    return false
                }
            };

            function validURL() {
                if(validSoundURL() && validVideoURL()) {
                    document.getElementById("submitURLs").disable = false
                } else {
                    document.getElementById("submitURLs").disable = true
                }
            }

            function getVideoID(url) {
                var x = url.split("watch?v=")[1];
                return x
            };

            document.getElementById("submitURLs").onclick = function() {
                location.href = "/play/video=" + getVideoID(document.getElementById("videoID").value) + "&sound=" + getVideoID(document.getElementById("soundID").value) + ""
            }


        </script>
    </body>
</html>