<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dual Youtube Video Player</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <h3 id="Header">Place YouTube URLs:</h3>
        <div class="fieldInputs">
            <label for="videoID">Video URL:</label>
            <input type="text" id="videoID" placeholder="Video ID">

            <br>

            <label for="soundID">Sound URL:</label>
            <input type="text" id="soundID" placeholder="Sound ID">
        </div>

        <input type=submit id="submitURLs"></input>

        <script type="text/javascript">
            function validVideoURL() {
                url = document.getElementById("videoID").value
                if(url.indexOf("youtube.com/watch?v=") >= 0 && url.split("watch?v=")[1].length > 1) {
                    return true
                } else {
                    return false
                }
            };

            function validSoundURL() {
                url = document.getElementById("soundID").value
                if(url.indexOf("youtube.com/watch?v=") >= 0 && url.split("watch?v=")[1].length > 1) {
                    return true
                } else {
                    return false
                }
            };

            function getVideoID(url) {
                var x = url.split("watch?v=")[1];
                return x
            };

            document.getElementById("submitURLs").onclick = function() {
                if(validVideoURL() && validSoundURL()) {
                    location.href = "/play/video=" + getVideoID(document.getElementById("videoID").value) + "&sound=" + getVideoID(document.getElementById("soundID").value) + "";
                } else {
                    alert("Please enter a valid YouTube URL.")
                };
            };

        </script>
    </body>
</html>